@import "../../style/variables.scss";

.app {
  &__banner {
    width: 100%;
    background-color: $dark;
    height: fit-content;
    padding: 0 25px 0 45px;
    display: grid;
    grid-template-columns: 152px auto 133px;
    justify-content: space-between;
    align-items: center;

    &-text {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 639px) {
  .app {
    &__banner {
      padding: 4px 10px;
      grid-template-columns: 152px auto;
      &-visible {
        display: none;
      }
    }
  }
}
